@import url(variable.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-1);
    font-family: 'Roboto-Regular';
}

/* HEADER */
.header_title {
    display: flex;
    justify-content: center;
    color: var(--color-3);
    font-family: 'Roboto-Italic';
    padding: 20px 0px;
}


/* MAIN */
.main_information_space_x {
    color: var(--color-3);
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom: 15px;
    gap: 15px;
}

/* LEFT */

/* NAV IZQUIERDA/LEFT - ALL */
.container_main_nav_description {
    width: 20%;
    /* background-color: rebeccapurple; */
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    height: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.description_item {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

/* NAV IZQUIERDA/LEFT - Images */
.container_main_nav_description img {
    height: 32px;
    width: 32px;
    margin-left: 15px;
}

/* NAV IZQUIERDA/LEFT - Tittle */
.container_main_nav_description h3 {
    font-family: 'Roboto-Regular';
    font-size: 1.17em;
}

/* NAV IZQUIERDA/LEFT - Small (text) */
.container_main_nav_description small {
    font-family: 'Roboto-Regular';
}


/* MIDDLE */

/*SECTION MAIN/CENTER */
.Main_center_information {
    width: 60%;
    /* background-color: thistle ; */
}




/* CARRUSEL */
.Main_center_information_carrusel {
    overflow-y: hidden;
    overflow-x: auto;
}

.images_carrusel {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: scroll;
    flex-shrink: 0;
}

/* ARTICLE BELOW */
.section_information_inferior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-3);
}

hr {
color: #000;
height: 1px;
background-color: #000;
}

.information_table_left, .information_table_right {
    height: 150px;
    overflow: hidden;
    overflow-y: scroll;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 25%;
}

.specific_information_table_left, .specific_information_table_right {
    display: flex;
    flex-direction: column;
}

.specific_information_table_left div, .specific_information_table_right div {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* RIGHT */

/* NAV DERECHA/RIGHT */
.Main_right_information{
    width: 20%;
    background-color: aliceblue;
}

/* FOOTER */
.footer_Space_X {
    display: flex;
    background-color: cadetblue;
    padding: 20px 0px;
    width: 60%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    position: relative;
}

.footer_Space_X_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer_Space_X_ul li {
    margin: 10px;
    text-align: center;
}
.footer_Space_X_ul li a {
    color: var(--color-3);
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto-Regular';
}

.footer_Space_X_ul li a img {
    height: 32px;
    width: 32px;
    margin-bottom: 5px;
}

.footer_Space_X_ul li a:hover {
    color: var(--color-6);
}